
.container{
    max-width: 1200px;
    margin: auto;

}
.home__grid{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows:1fr 1fr ;
    grid-gap:1.3rem;
    height: 50rem;
    margin-top: 1.3rem;
    grid-template-areas:'one two four' 'one two four-low';
}
.home__grid img{
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    filter: brightness(0.5);
    transition: all 0.3s ease-in-out;
}
.home__grid img:hover{
    filter: brightness(0.4);
}

.grid-one{
    grid-area: one;
    position: relative;
}
.grid-two{
    grid-area: two;
    position: relative;
}
.grid-three{
    grid-area: four;
    position: relative;
}

.grid-four{
    grid-area: four-low;
    position: relative;
}
.grid_text{
    position: absolute ;
    z-index: 1;
    font-size: 2rem;
    bottom:1rem;
    color: #f4f4f4ff;
    font-weight: 300px;
}

@media screen and (max-width:992px) {
    .home__grid{
        grid-gap: 13px;
    display: grid;
    gap: 13px;
    grid-template-areas:
        "one two"
        "four four-low";
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    height: 500px;
    }
}
@media screen and (max-width:750px) {
    .home__grid{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        height: 500px;
        grid-template-areas:"one two"
        "four four-low";;
    }
}